@model IEnumerable<PomodoroTracker.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>


<div class="col-lg-6">
    <form id="NewProjectForm">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" id="NewProjectDescriptionInput" type="text" placeholder="New Project ..." />
                <span class="input-group-btn">
                    <button class="btn btn-info" id="NewProjectCreateButton" type="submit">Create</button>
                </span>
            </div>
        </div>
    </form>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectID })
        </td>
    </tr>
}

</table>
@section scripts {
    <script type="text/javascript" src="~/Scripts/App/ProjectsIndex.js"></script>
}
